{
  "options" : {
    "controllerID": "Master"
  },
  "devices" : [
    {
      "deviceID": "ATEM",
      "class": "avx.devices.net.atem.ATEM",
      "options": {
        "ipAddr": "192.168.1.22"
      }
    },
    {
      "deviceID": "Recorder",
      "class": "avx.devices.net.hyperdeck.HyperDeck",
      "options": {
        "ipAddress": "192.168.1.23"
      } 
    },
    {
      "deviceID" : "Camera 1",
      "class" : "avx.devices.datavideo.PTC150",
      "options" : {
        "serialDevice" : "/dev/usb-ports/1-4.5:1.0",
        "cameraID" : 1,
        "baud": 38400,
        "waitForAck": false
      }
    },
    {
      "deviceID" : "Camera 2",
      "class" : "avx.devices.datavideo.PTC150",
      "options" : {
        "serialDevice" : "/dev/usb-ports/1-4.6:1.0",
        "cameraID" : 2,
        "baud": 38400,
        "waitForAck": false
      }
    },
    {
      "deviceID" : "Camera 3",
      "class" : "avx.devices.datavideo.PTC150_DVIP",
      "options" : {
        "ipAddress": "192.168.1.13"
      }
    },
    {
      "deviceID" : "Power",
      "class" : "avx.devices.serial.SerialRelayCard.KMtronicSerialRelayCard",
      "options" : {
        "serialDevice" : "/dev/usb-ports/3-1:1.0"
      }
    },
    {
      "deviceID" : "Blinds A",
      "class" : "avx.devices.serial.SerialRelayCard.ICStationSerialRelayCard",
      "options" : {
                      "serialDevice" : "/dev/usb-ports/1-4.1.4:1.0"
                  }
    },
    {
      "deviceID" : "Blinds B",
      "class" : "avx.devices.serial.SerialRelayCard.ICStationSerialRelayCard",
      "options" : {
                      "serialDevice" : "/dev/usb-ports/1-4.1.3:1.0"
                  }
    },
    {
      "deviceID" : "Blinds C",
      "class" : "avx.devices.serial.SerialRelayCard.ICStationSerialRelayCard",
      "options" : {
        "serialDevice" : "/dev/usb-ports/1-4.1.2:1.0"
      }
    },
    {
      "deviceID" : "Blind 1",
      "class" : "avx.devices.serial.SerialRelayCard.MomentaryUpDownStopRelay",
      "options" : {
        "upRelay" : ["Blinds A", 1],
        "downRelay" : ["Blinds A", 2],
        "stopRelay" : ["Blinds A", 3]
      }
    },
    {
      "deviceID" : "Blind 2",
      "class" : "avx.devices.serial.SerialRelayCard.MomentaryUpDownStopRelay",
      "options" : {
        "upRelay" : ["Blinds A", 4],
        "downRelay" : ["Blinds A", 5],
        "stopRelay" : ["Blinds A", 6]
      }
    },
    {
      "deviceID" : "Blind 3",
      "class" : "avx.devices.serial.SerialRelayCard.MomentaryUpDownStopRelay",
      "options" : {
        "upRelay" : ["Blinds A", 7],
        "downRelay" : ["Blinds A", 8],
        "stopRelay" : ["Blinds B", 1]
      }
    },
    {
      "deviceID" : "Blind 4",
      "class" : "avx.devices.serial.SerialRelayCard.MomentaryUpDownStopRelay",
      "options" : {
        "upRelay" : ["Blinds B", 2],
        "downRelay" : ["Blinds B", 3],
        "stopRelay" : ["Blinds B", 4]
      }
    },
    {
      "deviceID" : "Blind 5",
      "class" : "avx.devices.serial.SerialRelayCard.MomentaryUpDownStopRelay",
      "options" : {
        "upRelay" : ["Blinds B", 5],
        "downRelay" : ["Blinds B", 6],
        "stopRelay" : ["Blinds B", 7]
      }
    },
    {
      "deviceID" : "Blind 6",
      "class" : "avx.devices.serial.SerialRelayCard.MomentaryUpDownStopRelay",
      "options" : {
        "upRelay" : ["Blinds B", 8],
        "downRelay" : ["Blinds C", 1],
        "stopRelay" : ["Blinds C", 2]
      }
    },
    {
      "deviceID" : "Blinds",
      "class" : "avx.devices.serial.SerialRelayCard.UpDownStopArray",
      "options" : {
        "relays" : {
          "1" : "Blind 1",
          "2" : "Blind 2",
          "3" : "Blind 3",
          "4" : "Blind 4",
          "5" : "Blind 5",
          "6" : "Blind 6"
        }
      }
    }
  ]
}
